
body{
  background-color: #242424;
  padding: 45px;
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.wrapper {
  background-color: hsl(0, 100%, 74%);
  display: inline-block;
  padding: 30px;
  overflow: hidden;
}



.icon-wrapper {
  position: relative;
  width: 50px; /* Adjust based on your icon size */
  height: 50px; /* Adjust based on your icon size */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper i {
  color: #fafafa;
  position: relative;
  /* z-index: 10; */
  transition: color .2s ease;
  font-size: 2em;
}

.icon-wrapper:hover i {
  color: #242424;
  cursor: pointer;
  z-index: 10;
}

.circle-backdrop {
  background: #fafafa;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .5s ease, width .5s ease, height .5s ease;
  z-index: 0; /* Ensure it is behind the icon */
}

.icon-wrapper:hover .circle-backdrop {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(1);
}

#title {
  width: 40%;
}

.list-header {
  color: #fafafa;
  font-size: 2em;
  margin-top: 45px;
}

.list-item {
  display: flex;
}
.list-icon {
  /* border: #fafafa 1px solid; */
  display: flex;
  justify-content: center;

  margin: 20px 20px 20px 20px;
}
.list-desc, .list-desc > * {
  color: #fafafa;
  /* border: #fafafa 1px solid; */
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item > img {
  width: 350px;
  height: 450px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.card > img:hover {
  flex: 3;
}
.card > img {
  flex: 1;
  width: auto;
} 

